<section class="m-3">

    <div class="container mt-3 gradient-scroll rounded">

        <h1 class="silkscreen-font"> Edit a Post </h1>

        <form class="edit-post-form">

            <div class="mb-3">
                 <label for="post-title" class="form-label orbitron-font">Post Title</label>
                <input name="post-title" type="text" value="{{post.title}}" class="form-control orbitron-font">
            </div>

            <div class="mb-3">
                <label for="achievement-title" class="form-label orbitron-font">Achievement Title</label>
                <input name="achievement-title" type="text" value="{{post.achievement.title}}" class="orbitron-font form-control">
            </div>

            <div class="mb-3 pb-2">
            <button type="submit" class="btn silkscreen-font gradient-green">Save Post</button>
            <button type="submit" class="btn silkscreen-font gradient-red delete-post-btn">Delete Post</button>
            </div>
            
        </form>

    </div>

</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>