<div class="row">
  <div class="col-sm-6">
    <div class="card m-3 gradient-scroll rounded">
      <div class="card-body">
        <h5 class="card-title silkscreen-font">Log In</h5>
        <p class="card-text">

           <form class="login-form">
                <div class="mb-3">
                    <label for="InputEmail1" class="orbitron-font">Email address</label>
                    <input type="email" class="form-control orbitron-font" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="InputPassword1" class="orbitron-font">Password</label>
                    <input type="password" class="form-control orbitron-font" id="password-login" placeholder="Password">
                </div>
                <button type="submit" class="btn gradient-green silkscreen-font">Log In</button>
            </form>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card m-3 gradient-scroll rounded">
      <div class="card-body">
        <h5 class="card-title silkscreen-font">Sign Up</h5>
        <p class="card-text">

           <form class="signup-form">
                <div class="mb-3">
                    <label for="InputUsername" class="orbitron-font">Username</label>
                    <input type="text" class="form-control orbitron-font" id="username-signup" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label for="InputEmail1" class="orbitron-font">Email address</label>
                    <input type="email" class="form-control orbitron-font" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="orbitron-font">Password</label>
                    <input type="password" class="form-control orbitron-font" id="password-signup" placeholder="Password">
                </div>
                <button type="submit" class="btn gradient-green silkscreen-font">Sign Up</button>
            </form>
        </p>  
      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>