body {
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/35/32/retro-game-seamless-pattern-background-vector-30253532.jpg");
  /* background-repeat: no-repeat; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
li {
  list-style: none;
  margin: 15px;
}

ol li:nth-child(n + 4) {
  display: none;
}

.silkscreen-font {
  font-family: "Silkscreen";
}
.orbitron-font {
  font-family: "Orbitron";
}
.gradient-red {
  background-image: linear-gradient(
    to bottom,
    #3a0618 0%,
    #ec0707 51%,
    #360314 100%
  );
  color: aliceblue;
}

.gradient-grey {
  background-image: linear-gradient(
    to right,
    #4f4e4e 0%,
    #d4cfcf 51%,
    #4f4e4e 100%
  );
  color: rgb(6, 7, 7);
}
.gradient-scroll {
  background-image: linear-gradient(
    to bottom,
    #d7bb6f 0%,
    #f3dc9f 30%,
    #ae9550 100%
  );
  color: rgb(6, 7, 7);
}

.rules-card {
  height: 300px;
}

.margin-50 {
  margin-top: 22%;
}

.brag-title {
  border: solid 5px;
  border-top: none;
  border-color: gold;
  background-color: beige;
}
