body {
  background-image: url("https://i.pinimg.com/564x/21/83/4d/21834d22917243cc3d36ca5e550233a2.jpg");
  /* background-repeat: no-repeat; */
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
li {
  list-style: none;
  margin: 15px;
}

ol li:nth-child(n + 4) {
  display: none;
}

.silkscreen-font {
  font-family: "Silkscreen";
}
.orbitron-font {
  font-family: "Orbitron";
}
.gradient-red {
  background-image: linear-gradient(
    to bottom,
    #3a0618 0%,
    #ec0707 51%,
    #360314 100%
  );
  color: aliceblue;
}

.gradient-grey {
  background-image: linear-gradient(
    to right,
    #4f4e4e 0%,
    #d4cfcf 51%,
    #4f4e4e 100%
  );
  color: rgb(6, 7, 7);
}
.gradient-scroll {
  background-image: linear-gradient(
    to bottom,
    #d7bb6f 0%,
    #f3dc9f 30%,
    #ae9550 100%
  );
  color: rgb(6, 7, 7);
}

.rules-card {
  height: 300px;
}

.margin-50 {
  margin-top: 22%;
}

.brag-title {
  border: solid 5px;
  border-top: none;
  border-color: gold;
  background-color: beige;
}
.border-gold {
  border: 2px dotted;
  border-color: gold;
}
.border-black {
  border-bottom: 2px solid;
  border-color: rgb(14, 12, 1);
}
.tiny-text {
  font-size: 4mm;
}
